body {
  margin: 0;
  padding: 0;
}
.d1 {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 2px solid black;
}
.d1 .d2 {
  width: 100px;
  height: 100px;
  background-color: green;
  border: 4px solid black;
}
.d1 .d2:hover {
  background-color: white;
}
